<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835882339650-9im62l1hci3j61ecklibr9d748sp3fcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835882339650-9im62l1hci3j61ecklibr9d748sp3fcl</string>
	<key>API_KEY</key>
	<string>AIzaSyB8WGIRwkOLq5jxbnzygfspErt1SYfM4bU</string>
	<key>GCM_SENDER_ID</key>
	<string>835882339650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medify</string>
	<key>PROJECT_ID</key>
	<string>medify-e45da</string>
	<key>STORAGE_BUCKET</key>
	<string>medify-e45da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835882339650:ios:681b21aa8ec97032718cdb</string>
</dict>
</plist>